#[link(name = "rparse", vers = "0.1", uuid = "0188129D-F459-4EA4-A928-A5BA5632EF2E")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];
#[doc = "General purpose parser combinator library"];

use std;

mod types;

#[cfg(test)]
mod test_helpers;

#[cfg(test)]
mod test_expr;

#[cfg(test)]
mod test_primitives;

#[cfg(test)]
mod test_xml;
