//! General purpose parser combinator library"
// If the version is changed also change the dist target in the Makefile.
#[link(name = "rparse",
	vers = "0.6",
	uuid = "0188129D-F459-4EA4-A928-A5BA5632EF2E",
	url = "https://github.com/jesse99/rparse")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];

#[forbid(unused_imports)];
#[forbid(implicit_copies)];
#[forbid(deprecated_pattern)];
#[allow(structural_records)];	// TODO: getting warnings in weird places tho my code no longer has structs
#[allow(deprecated_mode)];	// TODO: can't seem to de-mode some generic closures

extern mod std;

use Result = result::Result;

pub use c99_parsers::*;
pub use misc::*;
pub use parsers::*;
pub use types::*;

pub mod c99_parsers;
pub mod misc;
pub mod parsers;
pub mod types;

#[cfg(test)]
mod tests
{
	mod c99_tests;
	mod char_tests;
	mod generic_tests;
	mod string_tests;
	mod test_helpers;
	mod test_expr;
	mod test_xml;
}
