// If the version is changed also change the dist target in the Makefile.
#[link(name = "rparse", 
	vers = "0.5",
	uuid = "0188129D-F459-4EA4-A928-A5BA5632EF2E",
	url = "https://github.com/jesse99/rparse")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];
//! General purpose parser combinator library"

// TODO: remove this once rustc settles down a bit more
#[warn(no_non_implicitly_copyable_typarams, no_vecs_not_implicitly_copyable)];

use std;

mod c99_parsers;
mod char_parsers;
mod combinators;
mod generic_parsers;
mod misc;
mod str_parsers;
mod types;

#[cfg(test)]
mod tests
{
	mod test_c99_parser;
	mod test_parsers;
	mod test_primitives;
	mod test_helpers;
	mod test_expr;
	mod test_xml;
}
